.TodoTemplate {
    width: 512px;
    // width가 주어진 상태에서 좌우 중앙정렬
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 4px;
    overflow: hidden;
    // border: 1px solid #7e4eee;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(1, 1, 36, 0.2);


    .app-title {
        background: #7e4eee;
        color: white;
        height: 4rem;
        font-size: 1.5rem;
        // Flexbox Froggy ( http://flexboxfroggy.com/#ko ) 참고학습
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        background: white;
    }
}